header {
    font-family: 'Open Sans', sans-serif !important;
}


header img {
    width: 150px;
    height: 150px;
}

ul {
    list-style: none;
}


nav a {
    color: #ff66c4 !important;
    font-family: sans-serif !important;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}